body {
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0;
}

#header {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: #802020;
  color: white;
  padding-top: 5px;
  padding-left: 7px;
  box-sizing: border-box;
  font-size: 16px;
}

#bar {
  position: absolute;
  width: 100%;
  top: 30px;
  height: 180px;
  box-shadow: 0 0 8px #404040;
  z-index: 1000;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.entry {
  display: inline-block;
  width: 33.333%;
  height: 100%;
  border-left: solid 1px #A0A0A0;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  background-color: #FFE0E0;
  color: black;
  padding: 8px;
}

.entry:first-child {
  border-left: none;
}

.name {
  font-size: 14px;
}

.temperature {
  font-size: 28px;
}

.wind {
  font-size: 14px;
  line-height: 1.2;
}

.icon, .desc {
  margin-top: 3px;
  width: 86px;
  height: 86px;
  display: none;
  border: 0;
}

.desc {
  background-color: white;
  font-size: 12px;
  cursor: default;
  white-space: normal;
  padding: 6px;
  box-sizing: border-box;
  user-select: none;
}

#map {
  position: absolute;
  width: 100%;
  top: 210px;
  bottom: 0px;;
}

.map-button {
  background-color: white;
  width: 30px;
  height: 30px;
  border: solid 2px #c0c0c0;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-location {
  background-image: url(images/baseline-my_location-24px.svg);
}

.full-extent {
  background-image: url(images/baseline-zoom_out_map-24px.svg);
}

@media screen and (min-device-width: 480px) {
  #bar {
    height: 196px;
  }

  #map {
    top: 226px;
  }
}

@media screen and (min-width: 640px) {
  .entry {
    width: 25%;
  }

  @media screen and (min-width: 800px) {
    .entry {
      width: 20%;
    }

    @media screen and (min-width: 960px) {
      .entry {
        width: 16.666%;
      }

      @media screen and (min-width: 1120px) {
        .entry {
          width: 14.286%;
        }
      }
    }
  }
}
